VITE_APP_GOOGLE_CLIENT_ID=XXXXXXXXX.apps.googleusercontent.com
VITE_APP_FACEBOOK_CLIENT_ID=XXXXXXXXX
VITE_APP_GITHUB_CLIENT_ID=XXXXXXXXX
VITE_APP_AUTH_LOGIN="{ \"google\": false, \"facebook\": false, \"github\": true, \"email\": true }"
VITE_APP_API_URL=https://pritam-stock-python.onrender.com/
TZ=Asia/Calcutta
